﻿@using PagedList.Mvc
@model PagedList.IPagedList<ClaseMVC.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="libros">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Precio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="pager" data-otf-target="#libros">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new {pagina}), PagedListRenderOptions.MinimalWithItemCountText)
</div>

ajax:
<div class="pager" data-otf-target="#libros">
    @Html.PagedListPager(Model, pagina => Url.Action("Index",
                                                     new {pagina}),
                                                     
                         options: PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                                                                                            {
                                                                                                HttpMethod = "GET",
                                                                                                UpdateTargetId = "libros"
                                                                                            }))
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
