﻿@using PagedList.Mvc
@model PagedList.IPagedList<ClaseMVC.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<ul id="album-list">
    
    @foreach (var pel in Model)
    {
        <li>
            <a href="@Url.Action("Details", new {id=pel.id})">

                    
                    
                <img alt="@pel.Titulo" src="@Url.Content("~" + pel.ruta)" width="100px" height="100px"/>
                   
                <span>@pel.Titulo</span>
            </a>
        </li>
    }
</ul>

<div class="pager" data-otf-target="#album-list">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new {pagina}), PagedListRenderOptions.MinimalWithItemCountText)
</div>


@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorPrincipal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
