﻿@using PagedList.Mvc
@model PagedList.IPagedList<ClaseMVC.Models.Pelicula>

@{
    ViewBag.Title = "Llamar API con Jquery";
}

<h2>Llamar API con JQuery</h2>

<div>
    <div>
        <h1>Peliculas</h1>
        <input id="buscar" type="button" value="Buscar"/>
    </div>
    <div>
        <ul id="album-list"></ul>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#buscar').click(function() {
                var loc = window.location.pathname;
                //var loc = "http://localhost:55092/";
                var dir = loc.substring(0, loc.lastIndexOf('/'));
                var appdir = dir.substring(0, dir.lastIndexOf('/'));
                //var apiurl = appdir + "/api/peliculas";

                var apiurl = "http://localhost/webapi/api/peliculas";

                $('#album-list').empty();
                $.getJSON(apiurl, function(data) {
                    $.each(data, function(i, pelicula) {

                        var html = $('<li> <img src="' + appdir +
                            pelicula.ruta + '"width="100px" heigth="100px" alt="'
                            + pelicula.Titulo + '">' + pelicula.Titulo + '</li>');
                        $('#album-list').append(html);
                    });
                });
            });
        });
    </script>
}
